.bar-wrapper {
	border-bottom: 2px solid white;
	margin-bottom: 20px;
	background-image: url('https://wallpapercave.com/wp/wp3496493.png');
	background-repeat: no-repeat;
}

.bar {
	height: 310px;
	background-color: #16161e;
	transition: all 100ms linear;
	background-image: linear-gradient(to right, #d19a41, #8d216d, #40a4db, #407d0a);
}
