.bar-wrapper {
	border-bottom: 2px solid white;
	margin-bottom: 20px;
	background-image: url('https://wallpapercave.com/wp/wp3496493.png');
	background-repeat: no-repeat;
}

.bar {
	height: 310px;
	background-color: #16161e;
	transition: all 100ms linear;
	background-image: linear-gradient(to right, #f4d03f, #f39c12, #e74c3c, #af7ac5, #5dade2, #52be80);
}
