
h2 {
    color: yellow;
}

.colors {
    width: 20px;
    height: 20px;
    margin: auto;
}

.color-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5px;
}

.canvas {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 80%;
    margin-top: 5px;
}