.header {
	background-color: rgb(233, 233, 233);
	position: fixed;
	height: 50px;
	width: 100%;
	padding: 12px;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.nav {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	color: #16161e;
	margin-right: 25px;
}

.active {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	color: #cd6155;
	margin-right: 25px;
}

.nav:hover {
	padding-bottom: 15px;
	color: #5499c7;
}

@media only screen and (max-width: 600px) {
	.nav {
		font-size: 14px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
