
.home {
    margin-top: 30px;
}

h2 {
    color: white;
    font-family: monospace;
}

.color-btn {
    margin-top: 20px;
    width: 150px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 0);
    font-family: monospace;
    cursor: pointer;
    background-color: #F4D03F;
    font-weight: bold;
}

.one {
    color: #DC7633;
    font-size: 25px;
}

.two {
    color: #A569BD;
    font-size: 25px;
}

.three {
    color: #5499C7;
    font-size: 25px;
}

.four {
    color: #CD6155;
    font-size: 25px;
}

.five {
    color: #52BE80;
    font-size: 25px;
}

.six {
    color: #F4D03F;
    font-size: 25px;
}

@media only screen and (max-width: 1000px) {

    .home {
        margin-top: 50px;
    }

    .text-name {
        margin-top: 10px;
        margin-bottom: 10px;

    }
   
}