.home {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	width: 80%;
	margin: auto;
	gap: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.project-img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	box-shadow: 0px 0px 30px 2px #000000;
}

.project-detail {
	width: 400px;
	margin: auto;
	height: 100px;
	box-shadow: 0px 0px 30px 2px #000000;
}

@media only screen and (max-width: 600px) {
}
