.languages {
    width: 25px;
    height: 25px;
    border-radius: 20%;
    color: #16161e;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.languages-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin-top: 80px;
    gap: 5px;
}

.color-btn {
    width: 50px;
    height: 30px;
    background-color: rgb(48, 150, 45);
    border: none;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    margin-bottom: 20px;
    margin-top: 20px;
}

