
@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-wrap {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.slider-box {
    margin-top: 100px;
}

.speed-num {
    color: yellow;
    margin: 50px;
    font-family: monospace;
    font-size: 20px;
    margin: 0;
}

.slider {
    width: 30%;
    cursor: pointer;
    
}