
@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    margin-top: -30px;

}

.logo img {
    width: 40%;
}

.speed-num {
    color: yellow;
    margin: 50px;
    font-family: monospace;
    font-size: 20px;
    margin: 0;
}

.slider {
    width: 30%;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
   .logo img {
       width: 90%;
   }

   .logo-wrap {
        margin-top: 80px;
    }   
}