
@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logo img {
    width: 35%;
    user-select: none;
}

.speed-num {
    color: white;
    margin: 50px;
    font-family: monospace;
    font-size: 20px;
    margin: 0;
    padding: 0px 10px;
}

.slider {
    width: 30%;
    cursor: pointer;   
}

.slider-box {
    margin-top: 80px;
}

@media only screen and (max-width: 1000px) {
   .logo img {
       width: 80%;
   }

   .logo-wrap {
        margin-top: 80px;
    }   
}