.menu-container {
    position: relative;
    margin-left: 10px;
    margin-top: 50px; 
}

.menu {
    width: 20vw;
    position: absolute;
    top: 50;
    z-index: 999;
    left: -22vw;
    transition: left 0.2s ease-in;
}

.menu.show {
    left: 0;
}

.menu-items {
    padding: 0;
    margin: 0;
}

.menu-link:hover {
    background-color: yellow;
}

.menu-list {
    list-style: none;
}

.menu-button {
    display: flex;
    position: relative;
    font-size: 50px;
    cursor: pointer;
    color: yellow;
}


.menu-button2 {
    display: flex;
    position: relative;
    font-size: 50px;
    cursor: pointer;
    color: rgb(9, 255, 0);
}

.menu-link {
    text-decoration: none;
    color: #16161e;
    padding: 10px 15px;
    display: flex;
    border: 2px solid #16161e;
    font-family: monospace;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {

    .menu-button, .menu-container {
        display: none;
    }


}