.about-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	gap: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.text1 {
	color: #d19a41;
	font-family: 'Source Code Pro', monospace;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #d19a41;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 2px #000000;
	line-height: 1.5;
}

h2 {
	font-family: 'Source Code Pro', monospace;
}

.box1 {
	margin-top: 200px;
}

.text2 {
	color: #d63a41;
	font-family: 'Source Code Pro', monospace;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #d63a41;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 2px #000000;
	line-height: 1.5;
}

.box2 {
	margin-top: 60px;
}

.box5 {
	margin-top: -50px;
}

.text3 {
	color: #40a4db;
	font-family: 'Source Code Pro', monospace;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #40a4db;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 2px #000000;
	line-height: 1.5;
}

.box3 {
	margin-top: 195px;
}

.text4 {
	color: #8d216d;
	font-family: 'Source Code Pro', monospace;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #8d216d;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 2px #000000;
	line-height: 1.5;
}

.box4 {
	margin-top: 50px;
}

.text5 {
	color: #407d0a;
	font-family: 'Source Code Pro', monospace;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #407d0a;
	border: 1px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 2px #000000;
}

.text6 {
	color: #c24523;
	font-family: 'Source Code Pro', monospace;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	background-color: #c24523;
	border: 1px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 2px #000000;
}

.text1:hover,
.text2:hover,
.text3:hover,
.text4:hover,
.text5:hover,
.text6:hover {
	background-color: #16161e;
	color: yellow;
	user-select: none;
}

@media only screen and (max-width: 600px) {
	.about {
		margin-top: 50px;
	}
	.about-box {
		display: grid;
		grid-template-columns: 1fr;
	}
	.box1,
	.box2,
	.box3,
	.box4 {
		margin-top: 0;
	}
}
