body {
  background: #16161e;
  text-align: center;
}

.nav {
  background-color: #16161e;
  border-bottom: 1px solid yellow;
  position: fixed;
  height: 40px;
  width: 100%;
  padding: 10px;
  left: 0px;
  top: 0px;
}